.header {
    padding: 40px 0 80px;
    background-image: url(/assets/images/header-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    background-color: #F4F9E2;
    
    &::after {
        content: "";
        display: block;
        
    }
    &__container {
        max-width: 1100px;
        margin: 0 auto;
        padding: 0 30px;
    }

    &__top {
        display: flex;
        justify-content: space-between;
        align-items: center;

    }

    &__logo {
        @include adaptiv-font(24, 15);
        line-height: 1.5em;
        letter-spacing: -0.035em;
        color: #62D0DF;
    }

    &__content {
        margin: 170px 0 0;
    }

    &__intro {
        max-width: 510px;

    }

    &__title {
        margin-top: 50px;
        @include adaptiv-font(48, 24);
        line-height: 1.5em;
        letter-spacing: -0.035em;
        color: #22356F;
    }

    &__text {
        margin-top: 50px;
        @include adaptiv-font(24, 15);
        line-height: 1.5em;
        color: #22356F;
    }

    &__btns {
        margin-top: 30px;
        display: flex;
        cursor: pointer;
        text-transform: uppercase;
    }

}

.nav {
    &__list {
        list-style-type: none;
        display: flex;

    }

    &__item {
        margin: 0 0 0 20px;
    }

    &__link {
        font-size: 14px;
        line-height: 16px;
        color: #22356F;
    }
}

.contact {
    &__link {
        padding: 20px 30px;
        background: #62D0DF;
        border-radius: 50px;
        font-size: 14px;
        line-height: 16px;
        display: flex;
        align-items: center;
        color: #FFFFFF;
        
    }
}

.btns__item-1 {
    padding: 10px 30px;
    background: #F9B640;
    font-size: 16px;
    line-height: 23px;
    letter-spacing: 0.1em;
    color: #FFFFFF;
}

.btns__item-2 {
    margin-left: 20px;
    padding: 10px 30px;
    font-size: 16px;
    line-height: 23px;
    letter-spacing: 0.1em;
    color: #FAB63E;
}